<header class="header bgc-light-blue-600" ng-cloak>
  <h1 class="main-logo">
    <a href="/" class="main-logo__link" lx-ripple="white">
      <span class="main-nav--title">{{::nav.app.title}} </span>
      <span class="main-nav--version">v{{::nav.app.version}}</span>
    </a>
  </h1>

  <nav class="main-nav main-nav--lap-and-up">
    <ul>
      <li ng-repeat="n in nav.app.links">
        <a href="{{::n.link}}" class="main-nav__link" lx-ripple="white">
          {{::n.text}}</a>
      </li>
    </ul>
  </nav>
  <nav class="main-nav main-nav--palm">
    <lx-dropdown position="right" from-top="true" width="150px">
      <button class="btn btn--l btn--white btn--icon" lx-ripple="white" lx-dropdown-toggle>
        <i class="mdi mdi-dots-vertical"></i>
      </button>

      <lx-dropdown-menu>
        <ul>
          <li ng-repeat="n in nav.app.links">
            <a ng-href="{{::n.link}}" class="main-nav__link" lx-ripple="white">
              <span style="color: rgba(0, 0, 0, 0.541176)">{{::n.text}}</span>
            </a>
          </li>
        </ul>
      </lx-dropdown-menu>
    </lx-dropdown>
  </nav>
</header>
